*.pyc
*.py~

# virtualenv
env*/

#Forked FlaskOAuth Library
flaskoauthlib*/

.DS_STORE

# ignore db
*.db
*.rdb

#ignore uwsgi ini file
*.ini

#ignore the .log files
*.log
*.log.1
.idea/.name
.idea/encodings.xml
.idea/locus.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/scopes/scope_settings.xml
